<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
  <h3>Landmark Name: <%= landmark.name %></h3> 
  <h3>Landmark Figure: <%= landmark.figure %></h3>
  <h3>Landmark Year Completed: <%= landmark.year_completed %></h3>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
