<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
    <h3><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></h3>
    <p><%= landmark.year_completed %></p>
    <% end %>

<a class="button" href="/landmarks">landmarks</a>

